
body {
    background: #975574;
    font-family: Arial;
}
h1 {
    color: red;
}
/* uyRqSzKQcKfTMjlULLc9vDT7Eq1zIPMZSGTVL4z2LeFpejhMfDGS58mUPjwNwls2OnQtKKLmfun0UUIAEZQVI0dw4UJTsZSGmE4flWGw6vq8bmSqzLEl6dJ7XUcLAJyAVFWgZWIfgl6sPr3LXe8GH82Oeqf6kXJ974own6z6mOn3lx3vIkejGips1Xa9mTI9IfsQBC1K */
